<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>   
      <ion-back-button text=""></ion-back-button>
      <ion-title>client</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item >
      <ion-label position="floating">Your Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">service</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item><ion-button expand="block" color="tertiary" (click)="Sumbit()">Submit</ion-button></ion-item>
    </div>
</ion-content>
