<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button text="" slot="start"></ion-back-button>
    <ion-title>Staff commision</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-segment>
    <ion-item routerLink="/commision/services">
      <ion-label>Services</ion-label>
    </ion-item>
    <ion-item routerLink="/commision/products">
      <ion-label>Products</ion-label>
    </ion-item>
    <ion-item routerLink="/commision/others">
      <ion-label>Others</ion-label>
    </ion-item>
</ion-segment>
  </ion-content>
