<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
        <ion-back-button text=""></ion-back-button>
    <ion-title>Opening Hours</ion-title>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input>
    
  <div>
    
    <ion-list>
      <ion-col size="3" slot="start">
    <ion-item slot="start" size="3">
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    <ion-label>Sunday</ion-label><br>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    <ion-label>Monday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    <ion-label>Tuesday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    <ion-label>Thursday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    <ion-label>Friday</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    <ion-label>Saturday</ion-label>
    </ion-item></ion-col>
  </ion-list>
  </div>
  <div><ion-col >
    <ion-list>
    <ion-item>
      <ion-select slot="end"> 
      <ion-select-option>10am-11am</ion-select-option>
      <ion-select-option>11m-12am</ion-select-option>
      <ion-select-option>01pm-2pm</ion-select-option>
      <ion-select-option>2pm-3pm</ion-select-option>
      <ion-select-option>03pm-04pm</ion-select-option>
      <ion-select-option>4pm-5pm</ion-select-option>
      <ion-select-option>5pm-6pm</ion-select-option>
      <ion-select-option>7pm-8pm</ion-select-option>
      <ion-select-option>8pm-9pm</ion-select-option>
      <ion-select-option>9pm-10pm</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  </ion-col>
  </div>
</ion-input>

</ion-content>
