<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons>
      <ion-back-button text=""></ion-back-button>
    
    <ion-title>Settings</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <div class="setting">
      <ion-item >
  <ion-label routerLink="/commision">Staff Commisions</ion-label></ion-item>
<div class="setting1">
  <ion-item >
  <ion-label routerLink="/booking">Booking Settings</ion-label>
  </ion-item></div>
  <div class="setting2">
    <ion-item>
    <ion-label routerLink="/language">Language Settings</ion-label>
  </ion-item></div>

  <div class="setting3">
    <ion-item>
  <ion-label routerLink="/privacy">Privacy Policy</ion-label>
  </ion-item></div>
</div>
</ion-list>
</ion-content>
